

/* * {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.jumbotron {
    margin-bottom: 15px;
    margin-top: 15px;
}

.navbar-nav a:focus {
    background: #eee;
}