<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- <li>
    <a routerLink="/profiles/new">Create Profile</a>
  </li> -->
  <!-- <br> -->
  <!-- <li>
    <a routerLink="/profiles">Profiles List</a>
  </li> -->
  <h1 class="jumbotron" style="text-align: center">
    {{ title }}
  </h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a href="#" class="navbar-brand">whoa</a>
      </div> -->
      <div>
        <ul class="nav navbar-nav">
          <li >
            <a routerLink="/">Home</a>
          </li>
          <li >
            <a routerLink="/users">Users</a>
          </li>
          <li>
            <a routerLink="/records">NYC Employee Promotions Records</a>
          </li>
          <li>
            <a routerLink="/favorites">Favorites</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login as
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let user of users" routerLink="/">
                <a routerLink="/">
                  {{user.userName}}
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="/">Logged in as Steph Curry </a>
          </li>

        </ul>
      </div>
    </div>

  </nav>

  <router-outlet></router-outlet>
</div>