<!--The content below is only a placeholder and can be replaced.-->
<div class="top" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <!-- <li>
    <a routerLink="/profiles/new">Create Profile</a>
  </li> -->
  <!-- <br> -->
  <!-- <li>
    <a routerLink="/profiles">Profiles List</a>
  </li> -->
  <li>
    <a routerLink="/">Home</a>
  </li>
  <br>
  <li>
    <a routerLink="/users">Users List</a>
  </li>
  <br>
    <li>
      <a routerLink="/records">NYC Employee Promotions Records</a>
    </li>
  <br>
  <router-outlet></router-outlet>
</div>


